<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Ucus_Yolu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="hava_durumu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Ucus_Yolu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Ucus_Yolu.Properties.Settings>
   <setting name="hemen_yazdir" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="cache_secenek" serializeAs="String">
    <value>CacheIfAvailable</value>
   </setting>
  </Ucus_Yolu.Properties.Settings>
		<hava_durumu.Properties.Settings>
			<setting name="yazici_nokta_vurus" serializeAs="String">
				<value>True</value>
			</setting>
		</hava_durumu.Properties.Settings>
	</userSettings>
	<system.net>
		<defaultProxy>
			<proxy autoDetect="False"/>
		</defaultProxy>
	</system.net>
	<startup/><applicationSettings>
		<Ucus_Yolu.Properties.Settings>
   <setting name="Ucus_Yolu_com_siparisyonetimi_servis_Service"
    serializeAs="String">
    <value>http://servis.siparisyonetimi.com/program/Service.svc</value>
   </setting>
  </Ucus_Yolu.Properties.Settings>
	</applicationSettings>
</configuration>
